<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
   <display-name>Exemple Autentificacio</display-name>
   	<servlet>
	    <servlet-name>ServerDispatcher</servlet-name>
	    <servlet-class>Router</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServerDispatcher</servlet-name>
	    <url-pattern>/</url-pattern>
	</servlet-mapping>
	
   <security-constraint>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
         <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/WEB-INF/*</url-pattern>
         <!-- If you list http methods, only those methods are protected -->
         <http-method>DELETE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
         <http-method>PUT</http-method>
      </web-resource-collection>
      <auth-constraint>
         <!-- Anyone with one of the listed roles may access this area -->
         <role-name>Client</role-name>
      </auth-constraint>
    </security-constraint>
    <!-- Default login configuration uses form-based authentication -->
    <login-config>
      <auth-method>FORM</auth-method>
      <realm-name>Secure Area</realm-name>
      <form-login-config>
        <form-login-page>/</form-login-page>
        <form-error-page>/WEB-INF/JSP/error.jsp</form-error-page>
      </form-login-config>
    </login-config>

    <!-- Security roles referenced by this web application -->
    <security-role>
      <role-name>Client</role-name>
    </security-role>
    



</web-app>
